<!-- fire-camp registration form -->
<div class="container-fluid">
  <h1>Fire-camp enrollment</h1>
  <div class="alert alert-danger" *ngIf="errorMsg">
    {{errorMsg }}
  </div>
  <form #userForm="ngForm" novalidate (ngSubmit)="onSubmit()" *ngIf="!submitted">

    {{ userForm.value | json }} 
    <hr />
    {{ userModel | json }}

    <div class="form-group">
      <label>Name</label>
      <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control" [(ngModel)]="userModel.name" name="name">
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">* required field</small>
    </div>

    <!-- {{ name.className }} -->
    <!-- {{ name.valid }} -->

    <div class="form-group">
      <label>E-mail</label>
      <input type="text" required #email="ngModel" [class.is-invalid]="email.invalid && email.touched" class="form-control" [(ngModel)]="userModel.email" name="email">
    </div>

    <div class="form-group">
      <label>Ph. no.</label>
      <input type="tel" required #phone="ngModel" pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched" class="form-control" [(ngModel)]="userModel.phone" name="phone">
      <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">* enter a valid phone.no.</small> -->
      <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
        <small class="text-danger" *ngIf="phone.errors.required">* required field</small>
        <small class="text-danger" *ngIf="phone.errors.pattern">* enter a valid phone.no(10 digits)</small>
      </div>
    </div>
    <br />

    <div class="form-group">
      <select (blur)="validateTopic(activity.value)" (change)="validateTopic(activity.value)" #activity="ngModel" [class.is-invalid]="activityHasError && activity.touched" class="custom-select" [(ngModel)]="userModel.activity" name="activity">
        <option value="default">interested in</option>
        <option *ngFor="let activity of activities">{{ activity }}</option>
      </select>
      <small class="text-danger" [class.d-none]="!activityHasError || activity.untouched"> * pls choose a field</small>
    </div>
    <br />

    <div class="mb-3">
      <label>Time preference</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" [(ngModel)]="userModel.timePreference" name="timePreference" value="evening">
        <label class="form-check-label">evening</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" [(ngModel)]="userModel.timePreference" name="timePreference" value="latenight">
        <label class="form-check-label">late night</label>
      </div>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" [(ngModel)]="userModel.subs" name="subs">
      <label class="form-check-label">send me future updates</label>
    </div>
    <br />

    <button [disabled]="userForm.form.invalid || activityHasError" class="btn btn-primary" type="submit">SUBMIT</button>

  </form>
</div>